# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LD48.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wallk\UnityProjects\LD48\.idea\.idea.LD48\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
